@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Delete</h2>

<h4>Delete this tag: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}